
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  list-style: none;
}

html{
    background-color: #f5f5f5;
    overflow: hidden;
}
.titles{
    font-size: x-large;
    padding-top: 4vh;
    display: flex;
    justify-content: space-evenly;
}

.todoForm{
    position: relative;
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
}

.formContainer{
    max-width: 30vw;
}

h1{
    font-family: 'Comfortaa', cursive;
    cursor: default;
}

.accomplished {
    /* position: absolute;
    top: 2vh;
    right: 10vw; */
    margin-left: 20vw;
    color: rgba(18, 105, 18, 0.904);
}

.workingOn {
    /* position: absolute;
    top: 2vh;
    left: 10vw; */
    margin-right: 20vw;
    color: rgb(245 189 6 / 78%);
}

.todoTitleBox{
    display: flex;
    justify-content: center;
    animation: titlebox-anim 10s ease-out infinite;
    transition: 0.5s;
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
    background: radial-gradient(circle at 70% 30%, white, rgb(232, 248, 251));
    padding: 8vh;
    margin-bottom: 2vh;
    border-radius: 48%;
    box-shadow: 2px 4px 15px 0px rgb(235 235 229);
}

@keyframes titlebox-anim {
  0% {
    transform: scale(1);
  }
  20% {
    transform: translateY(3px) scale(1.08);
  }
  48% {
    transform: skewX(-2deg) translateY(6px) scaleY(1.09) scaleX(1.03);
  }
  68% {
    transform:  scaleY(1.05) scaleX(0.97);
  }
  85% {
    transform: skewX(3deg) translateY(3px) scale(1.02);
  }
  97%, 100% {
    transform: scale(1);
  }
}

.textArea{
    animation: textarea-anim 10s ease-out infinite;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 2vh;
    outline: none;
    letter-spacing: 0.2em;
    font-family: 'Caveat', cursive;
    padding: 6vh;
    font-size: x-large;
    border-radius: 48%;
    resize: none;
    border: none;
    box-shadow: 2px 4px 15px 0px rgb(235 235 229);
    background: radial-gradient(circle at 70% 30%, white, rgb(232, 247, 251));
}



@keyframes textarea-anim {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.02) skewX(4deg);
  }
  48% {
    transform: translateY(6px)  scaleX(0.97) scaleY(1.03);
  }
  68% {
    transform: scaleX(1.05) translateY(1px) scaleY(1.03);
  }
  85% {
    transform: skewX(-5deg) translateY(3px)  scale(1.01);
  }
  97%, 100% {
    transform: scale(1);
  }
}

.textArea:focus{
    outline: none;
    box-shadow: 4px 8px 16px 3px rgb(235 235 229);
}

.input{
    text-align: center;
    padding: 1%;
    font-size: xx-large;
    border-radius: 30px;
    border: 1px solid white;
    background-color: whitesmoke;
    
}

input:focus{
    background-color: #f5f6f6;
    transition: 0.5s;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgba(223, 191, 7, 0.459);
    background-image: linear-gradient(rgba(255, 217, 0, 0.055), rgba(255, 252, 70, 0.541));
}

.saveButton{
    font-family: 'Caveat';
    border-radius: 62%;
    color: #6d082c;
    background-image: linear-gradient(to right, #fdffb6, #fdc12ab9);
    transition: 1s;
    font-size: large;
    cursor: pointer;
    padding: 4px 24px 4px 24px;
    box-shadow: 2px 3px 25px 1px #fffab6af;
    margin-top: 2vh;
}

.saveButton:hover{
    background-image: linear-gradient(to right, #fdc12ab9, #fdffb6);
    transition: 1s;
    transform: scale(1.1);
    box-shadow: -7px 0px 8px #fdffb6;

}

/* TODO LIST */

.TodoListContainer{
    /* display: flex; */

}

.appContainer{
    display: flex;
    flex-direction: row;
    padding: 0vh 2vw 1vh 2vw;
}


.todoList {
    list-style-type: none;
    background-color: #f5f5f5;
    width: 33%;
    overflow-y: scroll;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    width: 0;
}

#titleInput{
    font-style: italic;
    font-family: cursive;
}


.todoList > span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 40vw;
}


.todoItemContainer{
    display: flex;
    flex-direction: column;
    opacity: 0.75;
} 

.todoItemContainer:hover{
    opacity: 1;
}

.todoItem{
    display: flex;
    flex-direction: column;
    max-width: 25vw;
    margin: 1.9vh;
    cursor: pointer;
    padding: 2vh;
    border-radius: 99px;
    font-size: xx-large;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}



.todoItem:hover{
    transition: 0.3s;
    transform: scale(1.1);
    z-index: 3;
}



.todoButtonDone{
    cursor: pointer;
    transition: 0.75s;
    font-size: 16px;
    width: 90px;
    align-self: center;
    border-radius: 12px;
    border:none;
    padding: 4px;
    background-color: rgba(20, 218, 20, 0.486);
}

.todoButtonDone:hover{
    background-color: rgba(250, 201, 41, 0.486);
}

.todoButtonInProgress{
    cursor: pointer;
     transition: 0.75s;
    font-size: 16px;
    width: 90px;
    align-self: center;
    border-radius: 12px;
    border:none;
    padding: 4px;
    background-color: rgba(250, 201, 41, 0.486);

}

.todoButtonInProgress:hover{
    background-color: rgba(20, 218, 20, 0.486);
}

.todoBody{
    border-radius: 12px;
    text-align: center;
    max-height: 10%;
    background: beige;
    padding: 2%;
    font-size: xx-large;
}

.deleteTodoButton{
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    padding: 2%;
    background-image: linear-gradient(to right, #fdffb6, rgb(243, 96, 76));
    width: 90%;
    align-self: center;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    margin-top: 2%;
}

.deleteTodoButton:hover{
    transition: 0.3s;
    color: rgb(204, 13, 7);
    transform: scale(1.05);


}

.auto-enter {
    opacity: 0.01;
    transform: translateX(-300%);
}

.auto-enter.auto-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 5000ms, transform 2000ms;
}

.auto-leave {
    opacity: 1;
    transform: translateX(0);
}

.auto-leave.auto-leave-active {
    opacity: 0.01;
    transform: translateX(-300%);
    transition: opacity 1000ms, transform 2000ms;
}


.autodone-enter {
    opacity: 0.01;
    transform: translateX(300%);
}

.autodone-enter.autodone-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 5000ms, transform 2000ms;
}

.autodone-leave {
    opacity: 1;
    transform: translateX(0);
}

.autodone-leave.autodone-leave-active {
    opacity: 0.01;
    transform: translateX(300%);
    transition: opacity 1000ms, transform 2000ms;
}

/* STEPS  */


.stepForm {
    display: flex;
    margin: 3%;
    flex-direction: column;
    align-items: center;
}

.todoView{
    font-size: 20px;
    border-radius: 18px;
    max-width: 60%;
    min-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    display: flex;
    flex-direction: column;
    background: #6ca3d3b2;
    max-height: 90%;
}

.StepsBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 51;
}

.todoDetailVisible{
    display: flex
}

.todoDetailHidden{
    display: none;
}

.closeStepsButton{
    cursor: pointer;
    font-size: 40px;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 20px;
}

.closeStepsButton:hover{
    opacity: 80%;
    color: whitesmoke;
}

.inputStep{
    margin: 1vw;
    padding: 7px;
    font-size: xx-large;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: whitesmoke;
    position: relative;
}

.textAreaStep{
    height: 148px;
    outline: none;
    font-family: 'Caveat', cursive;
    transition: 00.5s;
    padding: 14px;
    font-size: x-large;
    border-radius: 10px;
    resize: none;
    background-color: whitesmoke;
    border: none;
    border: 1px solid grey;
    margin: 2%;
    max-width: 600px;
}

.textAreaStep:focus{
    letter-spacing: 0.2em;
    transition: 00.5s;
    outline: none;
}

.saveStepButton{
    font-family: 'Caveat';
    border-radius: 48px;
    padding: 2%;
    border: none;
    color: #830431;
    background-color: #f5e86f;
    transition: 1s;
    font-size: x-large;
    border: 1px solid #f9d509;
    box-shadow: 4px 8px 16px 3px rgb(0 0 0 / 20%);
    position: absolute;
    right: 10%;

}

.saveStepButton:hover{
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: -7px 0px 8px #fafcae;
    background-image: linear-gradient(to right, #fdffb6, #fdc12ab9);

}

.stepsContainer{
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.stepItem{
    font-size: x-large;
    border-radius: 8px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: floralwhite;
    min-width: 282px;
    min-height: 268px;
}

.stepItemContainer{
    background-color: whitesmoke;
    border-radius: 8px;
    margin: 1%;
    width: 50%;
}

.stepTitle{
    margin: 3%;
    background-color: rgb(235, 235, 229);
}

.stepBody{
    margin: 5%;
}

.deleteStep{
    cursor: pointer;
    font-size: large;
    background: transparent;
    color: rgb(248, 171, 159);
}

.deleteStep:hover{
        color: rgb(250, 81, 54);

}

.stepStatus{
    padding: 3%;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-self: center;
    margin-top: 2.5%;
    font-size: large;
}

.stepListContainer{
    height: 90%;
}


.giphyEmbed{
    cursor: pointer;
    margin: -10px;
    transition: 2s;
}

.giphyEmbed:hover{
    transition: 2s;
    transform: scale(1.1);
}
