
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  list-style: none;
}

html{
    background-color: aliceblue;
}

.todoForm{
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    font-size: 30px;
    border-radius: 10px;
    padding: 2%;
}

.todoTitleBox{
    padding: 10px;
    margin: 10px;
    font-size: 48px;
}

.textArea{
    outline: none;
    letter-spacing: 0.1em;
    font-family: 'Caveat', cursive;
    transition: 00.5s;
    padding: 24px;
    font-size: 30px;
    border-radius: 10px;
    resize: none;
    background-color:whitesmoke;
    border: none;
    border: 1px solid grey;
}
.textArea:focus{
    letter-spacing: 0.2em;
    transition: 00.5s;
    outline: none;
}

.input{
    padding: 7px;
    font-size: 38px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: whitesmoke;
    
}

input:focus{
    transition: 0.5s;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(223, 191, 7, 0.459);
    background-image: linear-gradient(rgba(255, 217, 0, 0.055), rgba(255, 252, 70, 0.541));
}

.saveButton{
    font-family: 'Caveat' ;
    border-radius: 48px;
    padding: 0.7%;
    color: #6d082c;
    background-color: #fde82a50 ;
    transition: 1s;
    font-size: 30px;
    cursor: pointer;
}

.saveButton:hover{
    transition: 1s;
    transform: scale(1.1);
    box-shadow: -7px 0px 8px #fdffb6;
    background-image: linear-gradient(to right, #fdffb6, #fdc12ab9);

}

/* TODO LIST */

.todoList{
    list-style-type: none;
    background-color: aliceblue;
    margin: 0;
    padding: 48px;
    min-height: 50%;
}

.todoList > span {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.todoItemContainer{
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.todoItem{
    transition: 3s;
    opacity: 85%;
    min-width: 75px;
    max-width: 250px;
    margin: 20px;
    cursor: pointer;
    padding: 15px;
    border-radius: 48px;
    font-size: 30px;
    text-align: center;
    background-color: white;
   box-shadow: 0px 0px 20px 4px white;

}

.todoItem:hover{
    transition: 0.3s;
    transform: scale(1.4);
    z-index: 48;
}



.todoButtonDone{
    cursor: pointer;
    transition: 0.75s;
    font-size: 16px;
    width: 90px;
    align-self: center;
    border-radius: 12px;
    border:none;
    padding: 4px;
    background-color: rgba(20, 218, 20, 0.486);
}

.todoButtonInProgress{
    cursor: pointer;
     transition: 0.75s;
    font-size: 16px;
    width: 90px;
    align-self: center;
    border-radius: 12px;
    border:none;
    padding: 4px;
    background-color: rgba(250, 201, 41, 0.486);

}

.todoBody{
    border-radius: 12px;
    align-self: center;
    height: 10%;
    background: beige;
    padding: 2%;
}

.deleteTodoButton{
    cursor: pointer;
    font-size: 22px;
    border-radius: 8px;
    border:none;
    padding: 6px;
    background-image: linear-gradient(to right, #fdffb6, rgb(243, 96, 76));
    width: 90%;
    align-self: center;
    display: flex;
    justify-content: center;
    transition: 0.3s;

}

.deleteTodoButton:hover{
    transition: 0.3s;
    color: rgb(204, 13, 7);
    transform: scale(1.05);


}

.auto-enter {
    opacity: 0.01;
    transform: translateY(250%);
}

.auto-enter.auto-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 5000ms, transform 2000ms;
}

.auto-leave {
    opacity: 1;
    transform: translateX(0);
}

.auto-leave.auto-leave-active {
    opacity: 0.01;
    transform: translateX(300%);
    transition: opacity 1000ms, transform 1000ms;
}

/* STEPS  */


.stepForm {
    display: flex;
    margin: 5%;
    flex-direction: column;
    align-items: center;
}

.todoView{
  font-size: 20px;
  border-radius: 18px;
  max-width: 60%;
  height: 80%;
  min-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  padding: 3%;
  display: flex;
  flex-direction: column;
  background: rgb(255, 215, 186)
}

.StepsBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 51;
}

.todoDetailVisible{
    display: flex
}

.todoDetailHidden{
    display: none;
}

.closeStepsButton{
    cursor: pointer;
    font-size: 40px;
    background: transparent;
    position: absolute;
    top: 10px;
    right: 20px;
}

.closeStepsButton:hover{
    opacity: 80%;
    color: whitesmoke;
}

.inputStep{
    padding: 7px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: whitesmoke;
}

.textAreaStep{
    outline: none;
    font-family: 'Caveat', cursive;
    transition: 00.5s;
    padding: 14px;
    font-size: 18px;
    border-radius: 10px;
    resize: none;
    background-color: whitesmoke;
    border: none;
    border: 1px solid grey;
    margin: 2%;
}

.textAreaStep:focus{
    letter-spacing: 0.2em;
    transition: 00.5s;
    outline: none;
}

.saveStepButton{
    font-family: 'Caveat' ;
    border-radius: 20px;
    padding: 0.7%;
    border: none;
    color: #6d082c;
    background-color: #f3e77d ;
    transition: 1s;
    font-size: 22px;
    border: 1px solid rgb(250, 213, 5);
}

.saveStepButton:hover{
    transition: 1s;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: -7px 0px 8px #fdffb6;
    background-image: linear-gradient(to right, #fdffb6, #fdc12ab9);

}

.stepsContainer{
    max-width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 3%;
    height: fit-content;
    
}

.stepItem{
    border-radius: 8px;
    overflow: auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.stepItemContainer{
    background-color: whitesmoke;
    border-radius: 8px;
    margin: 1%;
    min-width: 31.5%;
}

.stepTitle{
    margin: 3%;
    background-color: rgb(232, 232, 228);
}

.stepBody{
    margin: 5%;
}

.deleteStep{
    cursor: pointer;
    font-size: 14px;
    background: transparent;
    color: rgb(248, 171, 159);
}

.deleteStep:hover{
        color: rgb(245, 88, 63);

}

.stepStatus{
    padding: 3%;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-self: center;
    margin-top: 2.5%;
}

.stepListContainer{
    height: 80%;
}
